@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Texturina:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Salsa&family=Solway:wght@300&display=swap");

.grid_contain_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1200px;
  /* border: solid 1px red; */
}

.grid_contain {
  color: rgb(107, 57, 34);

  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 900px;
  width: 90%;
}
.titleFrame p {
  font-family: "Texturina", serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.titleFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-top: 4px solid rgb(236, 216, 216);
  width: 100%;
  /* background: cornsilk; */
  background: linear-gradient(
    1deg,
    rgb(255, 255, 255) 10%,
    rgb(255, 245, 239) 90%
  );
}

.team {
  width: 100%;
  background: linear-gradient(
    10deg,
    rgb(255, 255, 255) 10%,
    rgb(255, 248, 244) 90%
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 4px solid rgb(236, 216, 216);
  border-bottom: 4px solid rgb(236, 216, 216);
  height: 700px;
}

.team_contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team_photo_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin-bottom: -60px;
  z-index: 0;

  border-radius: 30px;
  /* border-radius: 10px 100px / 120px; */

  /* box-shadow: 1px 1px 5px 1px rgb(175, 102, 102); */
  background: rgb(216, 216, 216);
}
.team_photo {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 30px;
}

.team_bio_parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  width: 300px;
  height: 420px;
  border-top: solid 6px rgb(247, 113, 113);
  box-shadow: 1px 1px 5px 5px rgb(233, 233, 233);
}
.empty {
  height: 40px;
}
.team_bio_parent a {
  font-size: 16px;
  background: rgb(69, 69, 216);
  color: white;
  text-decoration: none;
  padding: 12px 14px;
  border-radius: 5px;
  /* -webkit-animation-direction: 0.3s;
  transition-duration: 0.3s; */
}
.team_bio_parent a:hover {
  background: white;
  color: rgb(69, 69, 216);
  border: solid 1px rgb(84, 84, 248);

  padding: 11px 13px;
}

.team_bio {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 200px;
  border-bottom: 4px solid rgb(236, 216, 216);
  border-top: 4px solid rgb(236, 216, 216);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
