.frontPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 790px;
  background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%);
  color: rgb(107, 57, 34);
}
.color1 {
  background: rgb(122, 77, 61);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
  /* border: solid 2px rgb(228, 220, 220); */
}

.color2 {
  background: rgb(248, 119, 68);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}
.color3 {
  background: rgb(245, 157, 123);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}

.color4 {
  background: rgb(248, 194, 173);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}
.logoColors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}
.topColors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomColors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontPageTitle h1 {
  font-size: 30px;
}
.frontPageTitle p {
  font-size: 18px;
  margin: 20px 0 25px;
}
.frontPageTitle {
  width: 600px;
  text-align: center;
}

/* -------------------------------------------homeButtons------------------------------ */

.container {
  display: flex;
  justify-content: center;
  /* align-items: center;
  align-content: center; */
  flex-wrap: wrap;
  width: 100vw;

  min-height: 20vh;
  /* background: linear-gradient(10deg, white 10%, rgb(255, 252, 250) 90%); */
  background: linear-gradient(10deg, white 10%, rgb(255, 250, 247) 90%);
}
.btn {
  display: flex;
  justify-content: center;
  border: rgb(122, 77, 61) solid 3px;
  align-items: center;

  margin: 16px 25px;
  padding: 30px;
  text-align: center;

  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(122, 77, 61);

  box-shadow: 0 0 20px #eee;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.container a i {
  font-size: 23px;
}

.btn:hover {
  background-position: right center;
}

.btn-1 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-2 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-4 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-5 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

