.frontPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 140px;
  height: 740px;

  background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%);
  background: linear-gradient(rgb(255, 155, 111), rgb(255, 251, 249));
  /* background: linear-gradient(10deg, white 40%, rgb(247, 216, 203) 50%); */
  color: rgb(107, 57, 34);
  /* background: rgb(255, 155, 111); */
}

.color1 {
  background: rgb(122, 77, 61);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
  /* border: solid 2px rgb(228, 220, 220); */
}

.color2 {
  background: rgb(248, 119, 68);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}
.color3 {
  background: rgb(245, 157, 123);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}

.color4 {
  background: rgb(248, 194, 173);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}
.logoColors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  margin-top: 50px;
}

.topColors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomColors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontPageTitle h1 {
  font-size: 30px;
}
.frontPageTitle p {
  font-size: 18px;
  margin: 20px 0 25px;
}
.frontPageTitle {
  width: 620px;
  text-align: center;
}

/* -------------------------------------------homeButtons------------------------------ */
.picsLine {
  padding: 140px 30px 0;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgb(255, 251, 249), rgb(255, 156, 98));
}
.comma {
  height: 20px;
  background: linear-gradient(rgb(255, 250, 246), rgb(255, 247, 244));
}
.picsLine img {
  height: 160px;
  width: 160px;
}
.picsLineChild h1 {
  font-size: 24px;
  color: white;
  width: 80%;
  text-align: center;
  /* margin-top: 10px; */
  /* border: solid red 1px; */
}
.picsLineChild {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center;
  align-content: center; */
  flex-wrap: wrap;
  width: 100vw;

  min-height: 10vh;
  background: linear-gradient(10deg, white 10%, rgb(255, 252, 250) 90%);
  background: rgb(255, 249, 246);
}
.btn {
  display: flex;
  justify-content: center;
  border: rgb(122, 77, 61) solid 3px;
  align-items: center;

  margin: 16px 25px;
  padding: 30px;
  text-align: center;

  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(122, 77, 61);

  box-shadow: 0 0 20px #eee;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.container a i {
  font-size: 23px;
}

.btn:hover {
  background-position: right center;
}

.btn-1 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-2 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-4 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-5 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}
/* ------------------------------------------------ */
.homeIntro {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(255, 226, 213);
  padding-bottom: 40px;

  height: 980px;
}

.homePercentages {
  color: white;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 155, 111);

  height: 440px;
  padding-bottom: 40px;
}

.intro {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: solid red 1px; */
}
.introText {
  width: 40%;
  text-align: center;
  font-size: 17px;
  padding: 40px;
  margin-top: 40px;
  border-radius: 50px;
  color: rgb(107, 57, 34);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.introText p {
  text-align: left;
  line-height: 1.7;
  margin-top: 20px;
}

.introImg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* box-shadow: -3px -3px rgb(240, 237, 236), 2px 2px 2px rgb(161, 87, 49),
    3px 3px 3px rgb(155, 81, 47); */
}
.homeIntro2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    10deg,
    rgb(255, 211, 193) 10%,
    rgb(255, 190, 162) 90%
  );

  height: 500px;
  padding-bottom: 40px;
}

.intro2 {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  /* border: solid red 1px; */
}
.introText2 {
  width: 40%;
  text-align: center;
  font-size: 17px;
  padding: 40px;
  margin-top: 40px;
  border-radius: 50px;
  color: rgb(107, 57, 34);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.introText2 p {
  text-align: left;
  line-height: 1.7;
  margin-top: 20px;
}

.introImg2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
.lastSection {
  width: 100%;
  text-align: center;

  line-height: 1.8;
  font-size: 22px;
}
.lastSection p {
  padding: 0 500px 100px;
}

.lastSection h1 {
  font-size: 36px;
}

.statistics {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid red 1px; */
  padding-top: 60px;
}
.statistics h2 {
  font-size: 32px;
}
.statistics p {
  font-size: 22px;
}

.homePercentage {
  font-size: 90px;
  margin-bottom: 30px;
}
