.frontPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 790px;
  background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%);
  color: rgb(107, 57, 34);
}
.color1 {
  background: rgb(122, 77, 61);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
  /* border: solid 2px rgb(228, 220, 220); */
}

.color2 {
  background: rgb(248, 119, 68);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}
.color3 {
  background: rgb(245, 157, 123);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}

.color4 {
  background: rgb(248, 194, 173);
  height: 150px;
  width: 150px;
  border-radius: 10px 100px / 120px;
}
.logoColors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}
.topColors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomColors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontPageTitle h1 {
  font-size: 30px;
}
.frontPageTitle p {
  font-size: 18px;
  margin: 20px 0 20px;
}
.frontPageTitle {
  width: 600px;
  text-align: center;
}

/* -------------------------------------------homeButtons------------------------------ */

