@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.simpleDesignPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 560px;

  background: rgb(247, 247, 247);
  /* background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%); */
}
.simpleDesign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  background: rgb(247, 247, 247);
  /* background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%); */
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: rgb(192, 93, 0);
  /* border: solid 1px red; */
}
.project_speed {
  /* border: solid 1px red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;
  height: 350px;
  width: 30%;
  text-align: center;
}
.imgFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 190px;
  /* border: solid 1px red; */
}
.img1 {
  height: 130px;
  width: 130px;
  margin-top: 20px;

  border-radius: 50%;
}
.img2 {
  margin-top: 20px;
  height: 180px;
  width: 180px;
  /* border: solid 1px red; */

  border-radius: 50%;
}
.img3 {
  margin-top: 10px;
  height: 140px;
  width: 140px;

  border-radius: 50%;
}

.project_speed_contain {
  color: rgb(112, 54, 0);
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
/* .project_speed_contain {
  font-size: 40px;
} */

.dis_text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgb(161, 78, 0);
  line-height: 1.6;

  width: 80%;
  margin: 20px 0 0 0;
}
