/* ------------------------------------blog Page--------------------------------------------- */
.blogPage {
  height: 1900px;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* margin-bottom: 60px; */
  /* border: solid 10px red; */
}
#bblogPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-bottom: 60px; */
  /* border: solid 10px red; */
}

.blogPageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: rgb(158, 80, 44);
  color: white;
  font-size: 20px;
  /* margin-top: 80px; */
}
.blogPageChildren {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 1600px;
  /* border: solid red 1px; */
}
.blogCards {
  display: flex;

  justify-content: space-evenly;
  align-items: flex-start;
  /* border: solid 1px red; */
  margin-bottom: 120px;

  flex-direction: column;

  height: 100%;
  width: 70%;
}
.eachTwoCards {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.blogCard {
  height: 450px;
  width: 400px;
  box-shadow: 0 0 30px 30px rgb(240, 240, 240);
}
.blogCardPic1 {
  background: cyan;
  background: url("");
  height: 250px;
  width: 400px;
}
.blogCardPic2 {
  background: rgb(255, 0, 43);
  height: 250px;
  width: 400px;
}
.blogCardPic3 {
  background: rgb(17, 0, 255);
  height: 250px;
  width: 400px;
}
.blogCardPic4 {
  background: rgb(9, 255, 0);
  height: 250px;
  width: 400px;
}
.blogCardPic5 {
  background: rgb(174, 0, 255);
  height: 250px;
  width: 400px;
}
.blogCardPic6 {
  background: rgb(255, 238, 0);
  height: 250px;
  width: 400px;
}
.blogCardInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 0px 50px;
}
/* .blogCardInfo div {
  text-decoration: none;
  color: rgb(0, 48, 204);
  color: rgb(102, 7, 255);
  margin: 20px 0px 15px 0;
  font-size: 17px;
} */
.littleTitle {
  /* margin-bottom: 50px; */
  /* border: solid red 1px; */
  height: 100%;
  margin: 20px 0px 10px 0;
  width: 100%;
}
.littleTitle a {
  text-decoration: none;
  color: rgb(0, 48, 204);
  color: rgb(102, 7, 255);
  font-size: 17px;
}
.littleTitle a:hover {
  color: rgb(200, 142, 255);
}
.blogCardInfo h3 {
  margin-bottom: 10px;
}

.blogPageIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.blogPageIcons a {
  box-shadow: 0 0 3px 3px rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 24px;
  color: rgb(247, 0, 152);
  /* border: solid rgb(219, 214, 214) 3px; */
  text-decoration: none;
  border-radius: 5px;
  /* -webkit-animation-direction: 0.4s;
  transition-duration: 0.4s; */
}
.blogPageIcons a:hover {
  color: rgb(156, 156, 156);
}
.iconsSection {
  /* border: solid rgb(122, 57, 57) 1px; */
  width: 30%;
  height: 100%;
  /* padding-top: 117px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.iconsSectionInfo {
  /* border: solid rgb(231, 43, 43) 1px; */
  display: flex;
  justify-content: center;

  align-items: center;
  border-radius: 2px;
  background: rgb(218, 218, 218);
  /* line-height: 100vh; */
  line-height: 1.4;

  height: 540px;
  width: 90%;
  margin: 0 0 40px 0;
  padding: 20px 0;

  /* box-shadow: 0 0 3px 3px rgb(228, 228, 228); */
}
.iconsSectionInfoChild {
  /* border: solid rgb(231, 43, 43) 1px; */
  display: flex;
  background: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 0 30px;

  height: 100%;
  width: 90%;
  text-align: center;
  font-size: 18px;
  /* box-shadow: 0 0 3px 3px rgb(228, 228, 228); */
}

.iconsSectionInfo h1 {
  /* border: solid rgb(231, 43, 43) 1px; */
  margin-bottom: 30px;
}
p::selection {
  background: antiquewhite;
}
.blogPageButtons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: solid red 1px; */
  height: 100%;
  width: 100%;
}
.buttonBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: solid red 1px; */
  height: 200px;
  width: 120px;
  margin: 0 10px;
  padding: 40px 10px 0;
  box-shadow: 0 0 10px 10px rgb(211, 211, 211);
}
/* .buttonBox button {
  margin: 100px 0 0 0;
} */
.buttonBox i {
  font-size: 42px;
  color: orange;
}
.buttonBox p {
  margin: 10px 0 22px 0;

  font-size: 15px;
}
.buttonBox a {
  padding: 3px 15px;
  font-size: 16px;
  background: orange;
  color: white;
  text-decoration: none;
  border-radius: 2px;
}

.buttonBox a:hover {
  padding: 2px 14px;
  color: orange;
  background: white;
  border: solid 1px orange;
}
