.contactPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 1200px;
  color: rgb(107, 57, 34);
}

.contactUs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(158, 80, 44);
  font-size: 30px;
}
.contactUs h1 {
  border: solid rgb(158, 80, 44) 6px;
  border-radius: 20px;
  padding: 20px 50px;
  font-size: 34px;
}

.contactPageChild {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  text-align: center;
  width: 1150px;
  /* border: solid 2px red; */
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(rgb(255, 192, 165), rgb(255, 223, 208));
  box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(245, 235, 231),
    3px 3px 3px rgb(245, 235, 231);
  /* margin: auto; */
  /* background: linear-gradient(rgb(247, 216, 203) 50%, rgb(255, 255, 255) 50%); */
}
.contactFooter {
  text-align: center;
  width: 500px;
  margin: 15px 0 0 0;
}

.contactPageFormParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background: white;
  padding: 0 30px;
  box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(245, 235, 231),
    3px 3px 3px rgb(245, 235, 231);
  height: auto;
  width: 1040px;

  /* margin-top: 10px; */
}
.contactPageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-left: 50px;
  padding-top: 60px;

  /* border-radius: 10px 100px / 120px; */
}
.map iframe {
  border-radius: 10px;
  margin-top: 5px;
}

.contactPageEmail,
.contactPageName {
  width: 400px;
  border-bottom: rgb(243, 111, 64) solid 1px;
  margin: 0 0 40px 10px;
}

.contactPageEmail input,
.contactPageName input {
  outline: none;
  width: 250px;
  border: none;
  color: rgb(221, 93, 46);
  height: 17px;
  font-size: 16px;
  background-color: gainsboro;
  padding: 20px;
  width: 400px;
}

.contactPageMessage {
  width: 400px;
  border-bottom: rgb(243, 111, 64) solid 1px;
  color: rgb(221, 93, 46);
}
.contactPageMessage textarea {
  outline: none;
  width: 400px;
  border: none;
  color: rgb(221, 93, 46);
  height: 130px;
  font-size: 16px;
  background-color: gainsboro;
  padding: 20px;
}
.buttonParent {
  width: 100%;
  height: 14px;
  border: solid 1px none;
}

.contactPageButton {
  padding: 8px;
  border: rgb(250, 84, 7) solid 1px;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 15px;
  text-decoration: none;
  color: rgb(250, 84, 7);
  -webkit-animation-direction: 0.6s;
  transition-duration: 0.6s;
  margin: 30px 290px 30px 0;
  background: rgb(223, 75, 6);
  color: white;
  border: solid 1px none;
  border-radius: 5px;
}

.contactPageButton:hover {
  color: rgb(158, 80, 44);
  background: green;
  color: white;

  border-radius: 10px 100px / 120px;
}

.contactPageButton:focus {
  outline: none;
}
.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-bottom: 20px;
  color: rgb(94, 44, 3);
  font-size: 22px;
}

.contactPageFooter {
  display: flex;
  color: rgb(94, 44, 3);
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 700px;
  margin-top: 15px;
  line-height: 25px;
}

.cont_title {
  padding-left: 50px;
}
