@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Texturina:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Salsa&family=Solway:wght@300&display=swap");

.grid_contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  margin: auto;
}

.team {
  width: 100%;
  background: linear-gradient(10deg, white 10%, rgb(255, 250, 247) 90%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
  color: rgb(107, 57, 34);
  border-bottom: 2px solid rgb(236, 216, 216);
  border-top: 2px solid rgb(236, 216, 216);
}

.team::after {
  content: "";
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-top: 56px solid rgb(236, 216, 216);
  content: "";
  display: block;
  height: 0;
  margin: 0 auto -55px;
  position: relative;
  width: 0;
}

.team > p {
  font-family: "Texturina", serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.team_contain {
  background: linear-gradient(10deg, white 10%, rgb(255, 250, 247) 90%);
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.team_1 {
  width: 350px;
  height: 40vh;
  display: flex;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 9px black;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.team_2 {
  width: 350px;
  height: 40vh;
  display: flex;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 9px black;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.team_3 {
  width: 350px;
  height: 40vh;
  display: flex;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 9px black;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.team_4 {
  width: 350px;
  height: 40vh;
  display: flex;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 9px black;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.team_1_profile {
  width: 300px;
  height: 130px;
  border-bottom: 4px solid rgb(236, 216, 216);
  border-top: 4px solid rgb(236, 216, 216);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -160px;
  margin-left: 20px;
}

.team_2_profile {
  width: 300px;
  height: 130px;
  border-bottom: 4px solid rgb(236, 216, 216);
  border-top: 4px solid rgb(236, 216, 216);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -160px;
  margin-left: -280px;
}

.team_3_profile {
  width: 300px;
  height: 130px;
  border-bottom: 4px solid rgb(236, 216, 216);
  border-top: 4px solid rgb(236, 216, 216);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -160px;
  margin-left: -280px;
  margin-right: 20px;
}

.team_4_profile {
  width: 300px;
  height: 130px;
  border-bottom: 4px solid rgb(236, 216, 216);
  border-top: 4px solid rgb(236, 216, 216);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -160px;
  margin-left: -250px;
  margin-right: 40px;
}
