* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}
/* https://codepen.io/search/pens?q=buttons&cursor=ZD0xJm89MCZwPTY= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  /* border-bottom: solid 2px rgb(250, 84, 7); */
  /* box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(245, 235, 231),
    3px 3px 3px rgb(245, 235, 231); */
  background: white;
}
.navContentsFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid red 1px; */
  height: 100%;
}

.navContent {
  text-decoration: none;
  font-size: 16px;
  /* margin: 0 8px; */
  color: rgb(250, 84, 7);
  padding: 9px;
}
.navContent:hover {
  /* border-bottom: solid 1px rgb(250, 84, 7); */
  padding: 8px 9px;
  margin-top: 1px;
}

.dropDownParent {
  /* margin: 0 8px; */
  /* border: solid red 1px; */
  margin-top: 172px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 140px;
  /* height: 130px; */
  /* padding: 30px 0; */
  /* text-align: left; */
}
.dropDownParent ul {
  border: solid rgb(255, 72, 0) 3px;
  background: rgb(255, 255, 254);
  border-radius: 5px;
  width: 100%;
  /* pointer-events: none; */

  opacity: 0;

  transform: translateY(-30px);
  transition: all 0.5s ease;

  margin: 10px 0 0 10px;
}

.dropDownParent button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
  cursor: pointer;
  /* background: khaki; */
}

.dropDown {
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(250, 84, 7);
  padding: 9px;
  border: none;
  background: white;
  width: 100%;
  cursor: pointer;
}
.underLine:hover {
  padding: 9px 0;
  border-bottom: solid 1px rgb(250, 84, 7);
}
button:focus {
  outline: none;
}

.dropDownParent ul a {
  text-decoration: none;
  color: rgb(255, 89, 11);
  /* pointer-events: all; */
  cursor: default;
}
.dropDownParent ul li:hover {
  /* border-bottom: solid 1px rgb(250, 84, 7); */
  background: rgb(255, 227, 214);
}
.dropDownParent ul li {
  width: 100%;
  /* width: 150px; */
  /* border: solid red 1px; */
  padding: 15px 0 15px 15px;
  list-style: none;
}

.outreachLogo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 260px;
  margin-left: 40px;
}
.logoText {
  font-size: 28px;
  color: rgb(250, 84, 7);
  font-weight: inherit;
}

.searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(250, 84, 7) solid 1px;
  margin: 0 25px;
  padding: 9px;
  font-size: 16px;
}

.searchForm a {
  color: rgb(250, 84, 7);
  font-size: 16px;

  outline: none;
  text-decoration: none;
  font-weight: lighter;
}
#search {
  outline: none;
  width: 240px;
  border: none;
  margin-left: 5px;
  font-size: 16px;
  height: 17px;
}
.signin {
  padding: 8px;
  border: rgb(250, 84, 7) solid 1px;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 15px;
  text-decoration: none;
  color: rgb(250, 84, 7);

  -webkit-animation-direction: 0.4s;
  transition-duration: 0.4s;
}
.signin:hover {
  background: rgb(158, 80, 44);
  color: white;
  /* border: solid 3px rgb(158, 80, 44); */
  border: solid 1px rgb(250, 84, 7);
  border-radius: 10px 100px / 120px;
}
.getStarted {
  text-decoration: none;
  padding: 8px;

  color: white;
  border-radius: 2px;
  order: none;
  background: rgb(54, 92, 163);
  background: rgb(3, 81, 248);
  font-size: 15px;
  -webkit-animation-direction: 0.3s;
  transition-duration: 0.3s;
}
.getStarted:hover {
  text-decoration: none;

  background: rgb(173, 173, 173);
  color: rgb(255, 255, 255);
  /* border: solid 1px rgb(69, 69, 216); */

  border-radius: 10px 100px / 120px;
}
.signingButtens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  margin: 0 50px 0 10px;
}
