@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Texturina:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Salsa&family=Solway:wght@300&display=swap");

.grid_contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  margin: auto;
}

.footer {
  width: 100%;
  background-color: rgb(5, 5, 97);
  display: grid;
  grid-template-rows: 3fr 0.1fr;
  height: auto;
  margin-top: -0px;
  flex-direction: column;
}

.foottop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  color: white;
}

.foot_ready {
  width: 300px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
.foot_pro {
  width: 200px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.foot_pro > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-size: 12px;
}

.foot_res {
  width: 200px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.foot_res > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-size: 12px;
}

.foot_con {
  width: 200px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.foot_con > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-size: 12px;
}

.foot_sup {
  width: 200px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.foot_sup > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-size: 12px;
}

.foot_ready_to {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}

.foot_started {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.request {
  width: 220px;
  height: 50px;
  background-color: green;
  color: white;
  padding: 10px;
  padding-top: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.foot_icon {
  width: 140px;
  height: 4vh;
  background-image: url("../images/mediaicon.png");
  background-repeat: no-repeat;
  background-size: 140px;
  background-color: snow;
  margin-top: -50px;
  margin-right: 70px;
  float: right;
  cursor: pointer;
  border-radius: 5px;
}
