.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* border: solid 3px red; */
  color: rgb(250, 84, 7);
  height: 301px;
  background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%);
  background: rgb(158, 80, 44);
  padding: 80px 0px 0 0;
  padding: 80px 150px 0 0;
}

.footerContants {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 180px 0 0;
  width: 100%;
  padding: 0 150px;

  /* border: solid 1px black; */
}

.footerContantsChild {
  /* background: url("./img/footerLogo.PNG"); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 240px;
  height: 120px;
  padding: 0 10px;

  margin: 0 60px;
  /* border: solid 1px black; */
  border-left: solid 1px rgb(250, 84, 7);
}

.footerLogo {
  width: 350px;
  margin: 0 40px 50px 0;
  /* background: url("./img/footerLogo.PNG"); */
  /* border: solid 1px rgb(248, 194, 173); */
}
.outreachLogo {
  width: 280px;
  /* border: solid 1px rgb(121, 110, 106); */
}
.footerColor1 {
  background: rgb(248, 194, 173);
  height: 23px;
  width: 23px;
  border-radius: 10px 100px / 120px;
}
.footerLogoText {
  color: rgb(248, 194, 173);
  font-size: 28px;
  margin: 40px 0 0 0;
}
.contacts {
  /* border: solid 1px rgb(248, 194, 173); */
  font-size: 16px;
  color: rgb(253, 175, 139);

  margin: 10px 0;
  /* width: 100%; */
}
.contacts a {
  color: rgb(253, 175, 139);
  text-decoration: none;
}
.contacts a:hover {
  color: rgb(247, 116, 55);
}
.contactsParent {
  /* border: solid 1px rgb(248, 194, 173); */
  margin-bottom: 30px;
  width: 200px;
}
.contactText {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerIcons a {
  font-size: 25px;
  color: rgb(253, 175, 139);
  margin: 15px 5px;
}

.llc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgb(250, 84, 7);
  background: rgb(252, 143, 93);
  height: 35px;
  width: 100%;
  text-align: center;
  color: white;
}
