* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}
/* https://codepen.io/search/pens?q=buttons&cursor=ZD0xJm89MCZwPTY= */
.scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.scrollUp a {
  font-size: 30px;
  color: rgb(175, 72, 35);
  text-decoration: none;

  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  /* border-bottom: solid 2px rgb(250, 84, 7); */
  box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(245, 235, 231),
    3px 3px 3px rgb(245, 235, 231);
  background: white;
}
.navContentsFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContents a {
  text-decoration: none;
  font-size: 12px;
  margin: 0 8px;
  color: rgb(250, 84, 7);
  padding: 1px;
}
.navContents a:hover {
  border-bottom: solid 1px rgb(250, 84, 7);
  padding: 1px;
}

.outreachLogo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  margin-left: 40px;
}
.logoText {
  font-size: 22px;
  color: rgb(250, 84, 7);
  font-weight: inherit;
}

.searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(250, 84, 7) solid 1px;
  margin: 0 15px;
  padding: 4px;
  font-size: 10px;
}

.searchForm a {
  color: rgb(250, 84, 7);
  font-size: 12px;

  outline: none;
  text-decoration: none;
  font-weight: lighter;
}
#search {
  outline: none;
  width: 180px;
  border: none;
  margin-left: 5px;
  font-size: 12px;
  height: 17px;
}
.signin {
  padding: 3px;
  border: rgb(250, 84, 7) solid 1px;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 11px;
  text-decoration: none;
  color: rgb(250, 84, 7);

  -webkit-animation-direction: 0.4s;
  transition-duration: 0.4s;
}
.signin:hover {
  background: rgb(158, 80, 44);
  color: white;
  /* border: solid 3px rgb(158, 80, 44); */
  border: solid 1px rgb(250, 84, 7);
  border-radius: 10px 100px / 120px;
}
.getStarted {
  text-decoration: none;
  padding: 3px;

  color: white;
  border-radius: 2px;
  order: none;
  background: rgb(54, 92, 163);
  font-size: 11px;
  -webkit-animation-direction: 0.3s;
  transition-duration: 0.3s;
}
.getStarted:hover {
  text-decoration: none;

  background: white;
  color: rgb(54, 92, 163);
  border: solid 1px rgb(54, 92, 163);
  /* font-size: 12px; */
  border-radius: 10px 100px / 120px;
}
.signingButtens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  margin: 0 50px 0 10px;
}
/* ----------------------------------------------------------- */
.frontPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 490px;
  background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%);
  color: rgb(107, 57, 34);
}
.color1 {
  background: rgb(122, 77, 61);
  height: 100px;
  width: 100px;
  border-radius: 10px 100px / 120px;
  /* border: solid 2px rgb(228, 220, 220); */
}

.color2 {
  background: rgb(248, 119, 68);
  height: 100px;
  width: 100px;
  border-radius: 10px 100px / 120px;
}
.color3 {
  background: rgb(245, 157, 123);
  height: 100px;
  width: 100px;
  border-radius: 10px 100px / 120px;
}

.color4 {
  background: rgb(248, 194, 173);
  height: 100px;
  width: 100px;
  border-radius: 10px 100px / 120px;
}
.logoColors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
}
.topColors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomColors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontPageTitle h1 {
  font-size: 30px;
}
.frontPageTitle p {
  font-size: 13px;
  margin: 20px 0 20px;
}
.frontPageTitle {
  width: 400px;
  text-align: center;
}
.whatWeDo {
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(107, 57, 34);
  background: linear-gradient(10deg, white 10%, rgb(255, 250, 247) 90%);
  /* margin-top: 100px; */
}

.cardsPageParent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardsPage {
  height: 780px;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  height: 220px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-animation-direction: 0.6s;
  transition-duration: 0.6s;
  border-radius: 10px 100px / 120px;
  text-decoration: none;
  padding-bottom: 10px;

  /* -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; */

  text-align: center;
  box-shadow: -3px -3px rgb(240, 237, 236), 2px 2px 2px rgb(161, 87, 49),
    3px 3px 3px rgb(155, 81, 47);
  /* box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(161, 87, 49),
    1px 1px 1px rgb(155, 81, 47); */

  background: linear-gradient(32deg, rgb(247, 216, 203) 50%, white 50%);
}
.card:hover,
.card:focus,
.card:active {
  height: 210px;
  width: 350px;

  box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(161, 87, 49),
    1px 1px 1px rgb(155, 81, 47);
  /* box-shadow: -3px -3px rgb(240, 237, 236), 5px 5px 5px rgb(161, 87, 49),
    5px 5px 5px rgb(155, 81, 47); */

  background: linear-gradient(10deg, white 10%, rgb(247, 216, 203) 90%);
  -webkit-transition: scale(1.1);
  transform: scale(1.1);
}
.cardParent {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px red; */

  text-align: center;
}
.card p {
  font-size: 11px;
  height: 240px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  color: rgb(39, 78, 78);
}
.card p i {
  font-size: 40px;
  margin-bottom: 15px;
  text-decoration: none;
  color: rgb(190, 100, 58);
}

/* -------------------------------footer--------------------------------- */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
}
.footerLine {
  width: 70%;
  height: 1px;
  background: rgb(250, 84, 7);
  margin-bottom: 20px;
}
.footerContants {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.contacts {
  font-size: 12px;
  color: rgb(250, 84, 7);
}
.spaceLine {
  width: 1px;
  height: 10px;
  background: rgb(233, 108, 51);
  margin: 0 10px;
}
.llc {
  font-size: 12px;
  color: rgb(250, 84, 7);
}
/* -----------------------------HomePageButtons--------------------------------- */
.container {
  display: flex;
  justify-content: center;
  /* align-items: center;
  align-content: center; */
  flex-wrap: wrap;
  width: 100vw;

  min-height: 20vh;
  /* background: linear-gradient(10deg, white 10%, rgb(255, 252, 250) 90%); */
  background: linear-gradient(10deg, white 10%, rgb(255, 250, 247) 90%);
}
.btn {
  display: flex;
  justify-content: center;
  border: rgb(122, 77, 61) solid 2px;
  align-items: center;
  /* flex: 1 1 auto; */
  margin: 10px 15px;
  padding: 20px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(122, 77, 61);
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 20px #eee;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  font-size: 10px;
  text-decoration: none;
}
.container a i {
  font-size: 23px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-2 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-4 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}

.btn-5 {
  background-image: linear-gradient(
    to right,
    #faf7f2 0%,
    rgb(252, 190, 164) 51%,
    #fffdf9 100%
  );
}
/* -------------------------------------ContactsPage----------------------------------------- */
.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 800px;
  color: rgb(107, 57, 34);
}
.contactUs {
  margin-bottom: 30px;
}
.contactPageChild {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 900px;
  /* border: solid 2px red; */
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(rgb(247, 216, 203), rgb(255, 255, 255));
  box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(245, 235, 231),
    3px 3px 3px rgb(245, 235, 231);
  /* margin: auto; */
  /* background: linear-gradient(rgb(247, 216, 203) 50%, rgb(255, 255, 255) 50%); */
}

#contactPageChild {
  height: 400px;
  width: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(247, 216, 203) 50%, rgb(255, 255, 255) 50%);
  background: linear-gradient(rgb(247, 216, 203), rgb(255, 255, 255));
  color: rgb(107, 57, 34);
  /* box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(245, 235, 231),
    3px 3px 3px rgb(245, 235, 231); */
  border-radius: 10px;
  padding-bottom: 30px;

  /* background: url("https://www.bing.com/images/search?view=detailV2&ccid=k84N4QmD&id=E49E25B6770FDEF36D535B6FBAA08417C4E6BBF8&thid=OIP.k84N4QmDowlmg5uktWEsOAHaFj&mediaurl=http%3a%2f%2fweneedfun.com%2fwp-content%2fuploads%2f2016%2f01%2fBlue-Flower-11.jpg&exph=1200&expw=1600&q=images+of+flowers&simid=607991361849133819&ck=CE4EBC1F2ECB9CD43F65AA112F3C6824&selectedIndex=49&FORM=IRPRST&ajaxhist=0"); */
}
.contactPageFormParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  /* flex-direction: column; */
  /* height: 100vh; */
  /* border: solid red 1px; */
  border-radius: 10px;
  background: white;

  box-shadow: -3px -3px rgb(240, 237, 236), 1px 1px 1px rgb(245, 235, 231),
    3px 3px 3px rgb(245, 235, 231);
  height: 300px;
  width: 640px;

  /* margin-top: 10px; */
}
.contactPageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  /* border-radius: 10px 100px / 120px; */
}
.map iframe {
  border-radius: 10px;
  margin-top: 5px;
}

.contactPageEmail,
.contactPageName {
  width: 250px;
  border-bottom: rgb(243, 111, 64) solid 1px;
  font-size: 12px;
  margin: 0 0 20px 10px;
}
.contactPageEmail input,
.contactPageName input {
  outline: none;
  width: 250px;
  border: none;
  color: rgb(221, 93, 46);
  height: 17px;
  margin-left: 20px;
  font-size: 12px;
}
.contactPageMessage {
  width: 250px;
  border-bottom: rgb(243, 111, 64) solid 1px;
  font-size: 12px;
  margin: 20px 0 0 10px;
  color: rgb(221, 93, 46);
}
.contactPageMessage input {
  outline: none;

  width: 250px;
  border: none;
  color: rgb(221, 93, 46);
  height: 17px;
  margin-left: 20px;
  font-size: 12px;
}
.contactPageButton {
  padding: 3px;
  border: rgb(250, 84, 7) solid 1px;
  text-decoration: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 11px;
  text-decoration: none;
  color: rgb(250, 84, 7);
  -webkit-animation-direction: 0.6s;
  transition-duration: 0.6s;
  margin: 30px 180px 0 0;
  background: rgb(223, 75, 6);
  color: white;
  border: solid 1px rgb(236, 155, 117);
}
.contactPageButton:hover {
  color: rgb(158, 80, 44);
  background: white;

  border-radius: 10px 100px / 120px;
}
.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
  color: rgb(245, 110, 0);
}
